html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    font-size: 14px;
}

.container {
    margin-top: 50px;
}

.list-group-item {
    cursor: pointer;
}

.correct {
    background-color: #289a27;
    color: #fff;
}

.incorrect {
    background-color: #c41a21;
    color: #fff;
}

.buttons {
    padding: 10px 10px 10px 0;
}

.scroll {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
}

.steps {
    margin-bottom: 20px;
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.steps > .step-wrapper {
    width: calc(100% / 20);
    height: 100%;
    background-color: silver;
    padding: 1px;
}

.steps > .step-wrapper > .step {
    width: 100%;
    height: 100%;
}

.empty-step {
    background-color: white;
}
